django-admin-log==0.2
-e git://github.com/mapeveri/django-endless-pagination/tarball/master#egg=django_endless_pagination-2.0
-e git://github.com/mapeveri/django-hitcount/tarball/master#egg=django_hitcount-1.0.5
