{% load i18n %}
{% load static %}
{% load photo %}
{% load forum_tags %}
{% load endless %}

{% paginate registers %}
{% for profile in registers %}
    <div class="col-sm-3">
        <div>
            <div class="avatar">
                <img src="{{profile.user.id|get_photo}}" class="img-thumbnail picture" width="100" hegiht="100" />
            </div>
            <div class="content">
                <br>
                <span>{{ profile.user|get_path_profile|safe }}</span>
                <br>
                <p>{% trans "Joined" %} {{profile.date}}</p>
                <table>
                    <tr>
                        <td>
                            <b>{% trans "Last Seen" %}</b>
                            {% if profile.last_seen %}
                                {{ profile.last_seen|timesince }}
                            {% else %}
                                {% trans "awhile ago" %}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% if profile.online %}
                                <div class="label label-success"><b>Online</b></div>
                            {% else %}
                                <div class="label label-danger"><b>Online</b></div>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% empty %}
    <small class="text-info">{% trans "No registered users" %}.</small>
{% endfor %}
{% show_more %}
